{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if is_today %}
        Herinnering van vandaag
    {% else %}
        Herinnering van {{ formatted_date }}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="memory-page">
        <div class="header">
            {% if is_today %}
                <h2>{{ formatted_date }}</h2>
            {% else %}
                <h2>Herinnering van {{ formatted_date }}</h2>
            {% endif %}
        </div>

        <div class="image-container">
            <img src="{% static 'images/'|add:day.image_filename %}" alt="Herinnering van {{ formatted_date }}">
        </div>

        <div class="text-box">
            <div id="dailyVersesWrapper">
                <p>Ik houd van je ❤️</p>
            </div>
            <script async defer src="https://dailyverses.net/get/verse.js?language=bgt"></script>
        </div>

        <div class="navigation">
            <a href="{% url 'overview' %}?month={{ day.date.month }}" class="nav-button back-overview">←</a>
            {% if not is_today %}
                <a href="{% url 'index' %}" class="nav-button back-today">V</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
